.contacts{
    display: flex;
    padding: 17px;
    margin: 3px;
    border-radius: 10px;
    background-color: #e0f009da;
    font-size: larger;
}
.contacts:hover{
    background-color:aqua;
}
.contacts > img{
    height: 150px;
    border-radius: 100px;
}
.name, .number{
    margin-left: 19px;
    font-weight: bold;
}
.mobile, .info >h3{
    line-height: 3px;
}
.mobile > .number{
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width:768px) {
    .contacts{
        padding: 7px;
    }    
}
